/* Author: Daniel Angel */
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.txt-rt {
  text-align: right;
}

.txt-lt {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.float-rt {
  float: right;
}

.float-lt {
  float: left;
}

.clear {
  clear: both;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.vertical-base {
  vertical-align: baseline;
}

.vertical-top {
  vertical-align: top;
}

.underline {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  margin: 0 0 20px 0;
}

nav.vertical ul li {
  display: block;
}

nav.horizontal ul li {
  display: inline-block;
}

img {
  max-width: 100%;
}

/*end reset*/
.body {
  border-top: 6px solid #555;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-size: 100%;
}

.header {
  padding: 0%;
  border-bottom: 1px inset #ffffff;
  margin: 0 auto;
  width: 80%;
  background: #ffffff;
}

.logo {
  float: left;
  padding: 5px 0 0;
  padding: 0 2%;
  border-bottom: 1px inset #ffffff;
  margin: 0 auto;
  margin-top: 3px;
  background: #ffffff;
}

.header-right {
  float: right;
  padding: 0 2%;
  border-bottom: 1px inset #ffffff;
  margin: 0 auto;
  background: #ffffff;
}

.main-contact {
  padding: 3em 4em;
}

/*  navegacion */
.nav li.active a {
  margin-top: -6px;
  color: #F51055;
  background: #f7f7f7;
  line-height: 1.8em;
}

.nav li.active h3 span {
  color: #F51055;
}

.nav li {
  display: inline-block;
  margin-right: -4px;
}

.nav li:last-child {
  margin-right: 0;
}

.nav li a {
  display: block;
  line-height: 1.8em;
  padding: 10px 28px;
}

.nav li a h3 {
  line-height: 1.8em;
  cursor: pointer;
  display: block;
  text-align: center;
}

.nav li a h3 span {
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  display: block;
  color: #444444;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
}

.nav li a h3 p {
  color: #555555;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-size: 0.824em;
}

.nav li a:hover {
  margin-top: -6px;
  color: #F51055;
  background: #f7f7f7;
}

/*slider*/
.slider {
  padding: 2% 4% 0 4%;
  border-bottom: 1px inset whiteSmoke;
  margin: 0 auto;
  width: 80%;
  background: #ffffff;
}

.slider h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2em;
  color: #999999;
  line-height: 1.8em;
  text-align: justify;
  margin-bottom: 0.5em;
}

.slider h2 span {
  color: #636363;
  text-transform: capitalize;
}

h5 {
  text-align: justify;
}

.main {
  padding: 2% 4% 2% 4%;
}

/*sidebar*/
.sidebar {
  float: left;
  width: 30.33%;
  padding: 2%;
  text-align: justify;
}

.content {
  float: right;
  width: 66.33%;
  padding: 2%;
}

.text h2 {
  text-transform: capitalize;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2em;
  color: #f51055;
}

.text-para p {
  font-size: 0.824em;
  color: #555555;
  line-height: 1.8em;
}

.text-para {
  margin-top: 2%;
}

.img {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #fff;
  padding: 5px;
  box-shadow: 0px 0px 10px #999;
  -webkit-box-shadow: 0px 0px 10px #999;
  -moz-box-shadow: 0px 0px 10px #999;
  -o-box-shadow: 0px 0px 10px #999;
}

/*btn*/
.readmore {
  margin-top: 4%;
  display: inline-block;
}

.btn {
  font-family: "Open Sans Condensed", sans-serif;
  border: none;
  font-size: 0.8924em;
  color: #fff;
  background: none;
  cursor: pointer;
  padding: 7px 20px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-2 {
  background: #f51055;
  color: #fff;
  -webkit-transition: none;
  transition: none;
}

/* Button 2c */
.btn-2f {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-2f:hover {
  top: 2px;
}

.btn-2f:active {
  top: 6px;
}

/*light box*/
.lb-album li {
  float: left;
  margin: 2%;
  position: relative;
  width: 21.333%;
}

.lb-album li:nth-child(4), .lb-album li:nth-child(8) {
  margin-right: 0;
}

.lb-album li > a,
.lb-album li > a img {
  display: block;
}

.lb-album li > a span {
  position: absolute;
  width: 100%;
  height: 94%;
  top: 4px;
  left: 5px;
  text-align: center;
  line-height: 140px;
  color: #ffffff;
  font-size: 24px;
  opacity: 0;
  background: rgba(51, 51, 51, 0.54);
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.lb-album li > a:hover span {
  opacity: 1;
  filter: alpha(opacity=99);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
}

/*  GRID OF Five */
.grid_1_of_5 {
  display: block;
  float: left;
  margin: 2% 0 1% 2.333%;
}

.grid_1_of_5:first-child {
  margin-left: 0;
}

.images_1_of_5 {
  width: 17.999%;
}

.images_1_of_5 img {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.text1 h2 {
  vertical-align: middle;
  margin-right: 10px;
  display: inline;
  text-transform: capitalize;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2em;
  color: #636363;
  line-height: 1.8em;
}

.text1 p {
  display: inline;
  font-size: 0.824em;
  color: #555555;
  line-height: 1.8em;
}

.grid-left {
  margin-top: 8%;
}

.date {
  padding: 6px 14px;
  margin-right: 10px;
  float: left;
  background: #999999;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.date:hover {
  background: #f51055;
}

.date ul li {
  display: block;
}

.date ul li a {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 6px 10px 0px;
  display: block;
  line-height: 1.2em;
  text-align: center;
  color: #fff;
}

.date ul li a h3 {
  font-size: 1.6em;
}

.date ul li a span {
  font-size: 0.824em;
}

.cont_txt {
  margin-top: 2%;
}

.cont_txt h3 {
  text-transform: capitalize;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1em;
  color: #444444;
}

.cont_txt p {
  font-size: 0.824em;
  color: #999999;
  line-height: 1.8em;
  margin-top: 5px;
}

/*footer*/
.footer1 {
  text-align: center;
  padding: 2%;
  background: #333333;
  border-top: 6px solid #F51055;
}

.footer1 p {
  font-size: 0.824em;
  color: #999999;
  line-height: 1.8em;
  padding: 0 1em;
}

.footer1 p.w3-link a {
  text-transform: capitalize;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.4em;
  color: #fcfcfc;
}

.footer1 p.w3-link a:hover {
  color: #f51055;
}

/*About*/
.about {
  float: left;
  width: 68.33%;
  margin-right: 2.33%;
}

.cont-grid {
  float: left;
  width: 61.33%;
  margin-right: 2.33%;
}

.about h3 {
  text-transform: capitalize;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2em;
  color: #555555;
  line-height: 1.8em;
}

.about h3 a {
  color: #f51055;
}

.cont-grid span {
  text-transform: capitalize;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.4em;
  color: #555555;
  line-height: 1.8em;
}

.abt-para p {
  margin-top: 2%;
}

.cont-grid-img {
  width: 36.33%;
  float: left;
}

.cont-grid-img img {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #fff;
  padding: 5px;
  box-shadow: 0px 0px 10px #999;
  -webkit-box-shadow: 0px 0px 10px #999;
  -moz-box-shadow: 0px 0px 10px #999;
  -o-box-shadow: 0px 0px 10px #999;
}

.cont-grid p {
  font-size: 0.824em;
  color: #555555;
  line-height: 1.8em;
}

.about-p {
  margin-top: 20px;
}

.about-p p {
  font-size: 0.824em;
  color: #555555;
  line-height: 1.8em;
}

/*sidebar*/
.abt-sidebar {
  padding: 2%;
  width: 28.33%;
  float: right;
}

.grid h3 {
  text-transform: capitalize;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2em;
  color: #636363;
  line-height: 1.8em;
}

.grid h3 a {
  color: #f51055;
}

.grid1 {
  margin: 2% 0;
}

.grid1 nav ul li img {
  vertical-align: bottom;
}

.grid1 nav ul li a {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.1em;
  color: #555555;
  margin-left: 4px;
}

.grid1 p {
  font-size: 0.824em;
  color: #555555;
  line-height: 1.8em;
}

.border {
  padding-bottom: 6%;
  border-bottom: 1px dashed #d5d5d5;
}

.read_more {
  margin-top: 2%;
}

.grid p.top {
  margin-top: 3%;
}

/*servicios*/
.service {
  padding: 2%;
  float: left;
  width: 68.33%;
  margin-right: 2.33%;
}

.service h3 {
  text-transform: capitalize;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2em;
  color: #555555;
  line-height: 1.8em;
}

.service h3 a {
  color: #f51055;
}

.grid_list {
  margin: 2% 0;
}

.grid_list:nth-child(1) {
  margin: 0% 0;
}

.list li {
  width: 100%;
  overflow: hidden;
  vertical-align: top;
  padding: 8px 0 11px 0;
  position: relative;
}

.list li img {
  float: left;
  margin-right: 10px;
}

.list li p {
  font-size: 0.824em;
  color: #555555;
  line-height: 1.8em;
}

.list li strong {
  text-transform: capitalize;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.4em;
  color: #555555;
}

.read_more1 {
  text-align: right;
}

/*casas*/
.ven_grid {
  display: block;
  float: left;
  margin: 2% 0;
}

.ven_grid:first-child {
  margin-left: 0;
}

.images_3_of_2 {
  width: 26.333%;
  margin-right: 2.333%;
}

.span_2_of_2 {
  width: 70.333%;
}

.images_3_of_2 img {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #fff;
  padding: 5px;
  box-shadow: 0px 0px 10px #999;
  -webkit-box-shadow: 0px 0px 10px #999;
  -moz-box-shadow: 0px 0px 10px #999;
  -o-box-shadow: 0px 0px 10px #999;
}

.span_2_of_2 h3 {
  text-transform: capitalize;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2em;
  color: #555555;
}

.span_2_of_2 p {
  font-size: 0.824em;
  color: #555555;
  line-height: 1.8em;
}

/*Contacto*/
.col {
  display: block;
  float: left;
  margin-left: 4.333%;
}

.col:first-child {
  margin-left: 0;
}

.span_2_of_3 {
  width: 63.333%;
}

.span_1_of_3 {
  width: 29.333%;
}

.contact-form {
  position: relative;
  padding-bottom: 30px;
}

.contact-form div {
  display: block;
  padding: 5px 0;
}

.contact_info h3, .contact-form h3, .company_address h3 {
  text-transform: capitalize;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2em;
  color: #555555;
  line-height: 1.8em;
}

.contact-form span {
  line-height: 1.8em;
  font-size: 0.824em;
  color: #555555;
}

.contact-form input[type=text], .contact-form textarea {
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-size: 1em;
  margin-top: 4px;
  color: #333333;
  padding: 8px;
  display: block;
  width: 98%;
  background: white;
  border: 1px solid #e2e2e2;
  outline: none;
  -webkit-appearance: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.contact-form textarea {
  resize: none;
  height: 120px;
}

.button-wrap {
  margin-top: 2%;
  display: inline-block;
}

.contact-form input[type=submit] {
  font-family: "Open Sans Condensed", sans-serif;
  border: none;
  font-size: 1.2em;
  color: #fff;
  background: none;
  cursor: pointer;
  padding: 7px 20px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #f51055;
  color: #fff;
  -webkit-transition: none;
  transition: none;
}

.contact-form input[type=submit]:active {
  top: 6px;
}

.contact-form input[type=submit]:hover {
  top: 2px;
}

.company_address p {
  font-size: 0.824em;
  line-height: 1.8em;
  color: #555555;
}

.company_address p span {
  text-decoration: underline;
  cursor: pointer;
}

.company_address p span:hover {
  text-decoration: none;
  color: #F2980F;
}

.map {
  margin-top: 6%;
  border: 1px solid rgba(199, 199, 199, 0.19);
  margin-bottom: 15px;
}

/***** Media Queries *****/
@media only screen and (max-width: 1280px) {
  .wrap {
    width: 95%;
  }
}
@media only screen and (max-width: 800px) {
  .span_1_of_3 {
    width: 95%;
  }

  .span_2_of_3 {
    width: 63.333%;
    margin-top: 4.333%;
    margin-left: 0;
  }

  .header-right {
    margin: 1em 0 0;
  }

  .wrap {
    width: 95%;
  }

  .logo {
    float: none;
    text-align: center;
  }

  .header-right {
    float: none;
    text-align: center;
  }

  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .nav li {
    display: inline-block;
    margin-right: 0px;
  }

  .nav li.active a {
    margin-top: 0;
  }

  .nav li a {
    display: block;
    line-height: 1.8em;
    padding: 10px 14px;
  }

  .map {
    margin-top: 2%;
  }

  .main-contact {
    padding: 2em 1em;
  }

  .slider h2 {
    font-size: 1.3em;
  }

  .sidebar {
    float: none;
    width: 100%;
    margin-bottom: 3.33%;
    margin-right: 0;
  }

  .content {
    float: none;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0px 0px 10px #999;
    -webkit-box-shadow: 0px 0px 10px #999;
    -moz-box-shadow: 0px 0px 10px #999;
    -o-box-shadow: 0px 0px 10px #999;
  }

  .lb-album li {
    width: 20.333%;
  }

  .lb-album li > a span {
    line-height: 108px;
    font-size: 21px;
  }

  .cont-grid span {
    font-size: 1.2em;
  }

  .grid h3 {
    font-size: 1.8em;
  }

  .span_2_of_2 h3 {
    font-size: 1.3em;
  }

  .list li img {
    width: 9%;
  }

  .details h2 {
    font-size: 1.6em;
  }

  .page h2 {
    font-size: 10em;
  }
}
@media only screen and (max-width: 640px) {
  .wrap {
    width: 95%;
  }

  .logo {
    float: none;
    text-align: center;
  }

  .header-right {
    float: none;
    text-align: center;
  }

  .nav li {
    display: inline-block;
    margin-right: 0px;
  }

  .nav li.active a {
    margin-top: 0;
  }

  .nav li a {
    padding: 4px 11px;
  }

  .sidebar {
    float: none;
    width: 100%;
    margin-right: 0%;
  }

  .content {
    float: none;
    width: 100%;
    margin-top: 2%;
  }

  .grid_1_of_5 {
    display: block;
    float: none;
    margin: 0%;
  }

  .images_1_of_5 {
    width: 100%;
  }

  .col_1_of_4 {
    display: block;
    float: none;
    margin: 1em 0;
  }

  .span_1_of_4 {
    width: 100%;
  }

  .about {
    float: none;
    width: 100%;
    margin-right: 0%;
  }

  .abt-sidebar {
    float: none;
    width: 100%;
  }

  .ven_grid {
    display: block;
    float: none;
    margin: 0%;
  }

  .images_3_of_2 {
    width: 100%;
    margin-right: 0%;
  }

  .service {
    float: none;
    width: 100%;
    margin-right: 0%;
  }

  .col {
    display: block;
    float: none;
    margin-left: 0%;
  }

  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .span_1_of_3 {
    width: 100%;
  }

  .span_2_of_3 {
    width: 100%;
  }

  .social-icons, .nav1 {
    margin-top: 2%;
  }

  .footer {
    padding: 0em 1.5em 1em;
  }

  .grid_1_of_5 {
    margin: 2%;
    width: 45%;
    float: left;
  }

  .span_2_of_2 {
    width: 100%;
    margin: 1em 0 2em;
  }
}
/*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */